/* .homepage{
    height:100%;;
    width:100%;
    display:flex;
    background-color: blue;
}

.navbar{
    height:50px;
    width:100%;
    display:flex;
}

.footer{
    bottom:1000px;
    display:flex;
}

.hero{
    display:flex;
}
  */

.homepage{
    background-color:black;
}

.footer{
    justify-content: center;
}

.hero{
    position:relative;
}

.features{
    position:relative;
    justify-content:center;
    left:50px;
}